@font-face { 
    font-family: HelveticaNeue;
    src: url("../resources/fonts/Helvetica Neue/HelveticaNeue.ttf"); 
}
@font-face { 
    font-family: HelveticaNeueLt;
    src: url("../resources/fonts/Helvetica Neue/HelveticaNeueLTPro-Lt.otf"); 
}
@font-face { 
    font-family: HelveticaNeueUltLt;
    src: url("../resources/fonts/Helvetica Neue/HelveticaNeueLTPro-UltLt.otf"); 
}
@font-face { 
    font-family: HelveticaNeueBd;
    src: url("../resources/fonts/Helvetica Neue/HelveticaNeueLTPro-Bd_0.otf"); 
}
@font-face { 
    font-family: HelveticaNeueTh;
    src: url("../resources/fonts/Helvetica Neue/HelveticaNeueLTPro-Th.otf"); 
}
@font-face { 
    font-family: ProximaNovaLt;
    src: url("../resources/fonts/Proxima Nova/ProximaNova-Light.otf"); 
}
@font-face { 
    font-family: ProximaNova;
    src: url("../resources/fonts/Proxima Nova/ProximaNova-Regular.otf"); 
}
@font-face { 
    font-family: ProximaNovaBd;
    src: url("../resources/fonts/Proxima Nova/ProximaNova-Semibold.otf"); 
}
