#splash-blur {
    position: absolute;
    @include filter(blur(15px));
}
#splash-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $black;
    @include opacity(0.9);
    display: table;

    #mini-visualization {
        width: 390px;
        height: 100px;
    }
    .hero {
        display: table-cell;
        vertical-align: middle;

        .title {
            font-size: 3.0em;
            font-family: "HelveticaNeueUltLt";
            margin-bottom: 12px;

            b {
                color: $neon-blue;
            }
        }
        .caption {
            color: $gray;
        }
        #proceed-btn {
            @include icon-button;
            margin-top: 1.0em;
            font-size: 2.0em;
            color: $white;

            &:before {
                margin-left: 0.2em;
            }
            &.hover {
                color: $theme;
            }
        }
    }
}
