$sidebarWidth: 320px;

#sidebar {
    @include transition(all 0.3s);
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    left: -$sidebarWidth;
    bottom: 0;
    width: $sidebarWidth;
    padding: 24px;
    background: $black;
    @include opacity(0);

    .hero {
        font-size: 2.0em;
        font-family: "HelveticaNeueUltLt";
    }
    .subhero {
        color: $gray;
    }
    // animate the sidebar into view
    &.open {
        left: 0;
        @include opacity(0.8);
    }
}
